[submodule "prompto-libraries"]
	path = prompto-libraries
	url = https://ericvergnaud@github.com/prompto/prompto-libraries.git
[submodule "prompto-tests"]
	path = prompto-tests
	url = https://ericvergnaud@github.com/prompto/prompto-tests.git
